<center><a href="/login">Log Out</a></center></br>
<center><a href="/home">Home</a></center></br>

<center>
<iframe width="320" height="180" src="https://www.youtube.com/embed/b5SphZXOvp4" frameborder="0" gesture="media" allowfullscreen></iframe>

<form method="GET" action="">
  <select name="playlist">
    <option value="Playlist 1">Playlist 1</option>
    <option value="Playlist 2">Playlist 2</option>
    <option value="Playlist 3">Playlist 3</option>
    <option value="Playlist 4">Playlist 4</option>
  </select>
  <br><br>
  <input type="submit">
</form>

<iframe width="320" height="180" src="https://www.youtube.com/embed/b5SphZXOvp4" frameborder="0" gesture="media" allowfullscreen></iframe>

<form method="GET" action="">
  <select name="playlist">
    <option value="Playlist 1">Playlist 1</option>
    <option value="Playlist 2">Playlist 2</option>
    <option value="Playlist 3">Playlist 3</option>
    <option value="Playlist 4">Playlist 4</option>
  </select>
  <br><br>
  <input type="submit">
</form>


<iframe width="320" height="180" src="https://www.youtube.com/embed/b5SphZXOvp4" frameborder="0" gesture="media" allowfullscreen></iframe>

<form method="GET" action="">
  <select name="playlist">
    <option value="Playlist 1">Playlist 1</option>
    <option value="Playlist 2">Playlist 2</option>
    <option value="Playlist 3">Playlist 3</option>
    <option value="Playlist 4">Playlist 4</option>
  </select>
  <br><br>
  <input type="submit">
</form>

<iframe width="320" height="180" src="https://www.youtube.com/embed/b5SphZXOvp4" frameborder="0" gesture="media" allowfullscreen></iframe>

<form method="GET" action="">
  <select name="playlist">
    <option value="Playlist 1">Playlist 1</option>
    <option value="Playlist 2">Playlist 2</option>
    <option value="Playlist 3">Playlist 3</option>
    <option value="Playlist 4">Playlist 4</option>
  </select>
  <br><br>
  <input type="submit">
</form>
</center>
