<h1><center>Username Here</center></h1>

<hr> 

<h2><center>Current PlayList</center></h2></br> 
	<center><a href="/playlist">Insert link to individual playlist</a></center>
	{{#each Playlist}}
	<center><h3>Insert link to playlist</h3></center>
	{{/each}}

<hr> 

<form method="GET" action="">
	<h2><center>New Playlist</center></h2></br>
	</br>
	<center><input type="text" name="new_playlist" placeholder="Playlist Name"></center>
</form>

<hr> 

<center><a href="/browse">Browse</a></center>

<hr> 

<center><a href="/login">Log Out</a></center></br>
<center><a href="/home">Home</a></center></br>