<h2><center>{{user.email}}</center></h2>

<hr> 

<h2><center>Current PlayLists</center></h2>
	{{#each Playlist}}
	<center><a href="/playlist/{{slug}}"> <h1>{{title}}</h1> </a></center>
	{{/each}}

<hr> 

<form method="POST" action="">
	<h2><center>New Playlist</center></h2></br>
	<center><input type="text" name="new_playlist" placeholder="Playlist Name"></center>
	<center><input type="submit" value="Submit"><center>
</form>

<hr> 
<br>
<center><a href="/browse">Browse</a></center>
<br>
<hr> 

<center><a href="/logout">Log Out</a></center></br>
<center><a href="/home">Home</a></center></br>