<!DOCTYPE html>
<head>
<title>Youtube Play Later</title>
	<link rel="stylesheets" href="/stylesheets/styles.css">
</head>
<body>
	<h1><center>Youtube Play Later</center></h1>
	{{{body}}}

	<!---scripts -->
	<script src="https://apis.google.com/js/client.js?onload=init" type="text/javascript"></script>	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</head>
</html>