<!DOCTYPE html>
<head>
<title>Youtube Play Later</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<h1><center>Youtube Play Later</center></h1>
	{{{body}}}
</body>
</head>
</html>