<h1><center> Login with your Youtube account below... </center></h1>

<hr>

<form method="GET" action="">
	<center>
		<h2>Please Login</h2> 
		</br>
		Username
		<input type="text" name="u_username" placeholder="Username">
		Password
		<input type="password" name="u_password" placeholder="Password"></br></br>
		<input type="submit" value="Log In">
	</center>
</form>

<hr>

<form method="POST" action="">
	<center>
		<h2>Please Sign Up</h2> 
		</br>
		Username
		<input type="text" name="s_username" placeholder="Username">
		Password
		<input type="password" name="s_password" placeholder="Password"></br></br>
		<input type="submit" value="Sign Up">
	</center>	
</form>

<hr> 


