<h1> Welcome! </h1>

<form method="GET" action="">
	Please Login 
	</br>
	Username
	<input type="text" name="u_username" placeholder="Username">
	Password
	<input type="text" name="u_password" placeholder="Password">
</form>

<form method="POST" action="">
	Login 
	</br>
	Username
	<input type="text" name="s_username" placeholder="Username">
	Password
	<input type="text" name="s_password" placeholder="Password">
</form>

