<center><a href="/login">Log Out</a></center></br>
<center><a href="/home">Home</a></center></br>




<center><h2>Your Playlist:</h2></center>
<center><h2>{{playlist.title}}<h2></center>

<center>
<form action="" method="POST">
{{#each playlist}}
	<iframe width="320" height="180" src="{{link}}" frameborder="0" gesture="media" allowfullscreen></iframe><br>

	<input type="checkbox" name="array" value="{{link}}"> Remove<br>

{{/each}}

  <input type="submit" value="Delete From Playlist">
</form>

</center>