<center><a href="/login">Log Out</a></center></br>
<center><a href="/home">Home</a></center></br>

<center>
<iframe width="320" height="180" src="https://www.youtube.com/embed/b5SphZXOvp4" frameborder="0" gesture="media" allowfullscreen></iframe>

<form action="" method="POST">
  <input type="checkbox" name="removevideo" value="Remove"> Remove<br>
  <input type="submit" value="Submit">
</form>

</center>

<center>
<iframe width="320" height="180" src="https://www.youtube.com/embed/b5SphZXOvp4" frameborder="0" gesture="media" allowfullscreen></iframe>

<form action="" method="POST">
  <input type="checkbox" name="removevideo" value="Remove"> Remove<br>
  <input type="submit" value="Submit">
</form>

</center>

<center>
<iframe width="320" height="180" src="https://www.youtube.com/embed/b5SphZXOvp4" frameborder="0" gesture="media" allowfullscreen></iframe>

<form action="" method="POST">
  <input type="checkbox" name="removevideo" value="Remove"> Remove<br>
  <input type="submit" value="Submit">
</form>

</center>