<h1><center> Sign Up Below! </center></h1>

<hr>

<form method="POST" action="/signup">
	<center>
		<h2>Please Sign Up</h2> 
		</br>
		Email
		<input type="text" name="email" placeholder="Username">
		Password
		<input type="password" name="password" placeholder="Password"></br></br>
		<input type="submit" value="Sign Up">
	</center>	
</form>

<center>
<p>Already have account? <a href="/login">Login!</a></p>
<p> Or go <a href="/">Home</a>!</p>
</center> 